/* Estilo para el formulario de edición */
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.edit-form input,
.edit-form select {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.edit-buttons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.edit-save-btn,
.edit-cancel-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-save-btn:hover {
  color: green;
}

.edit-cancel-btn:hover {
  color: red;
}
